body {
            margin: 0;
            padding: 0;
            font-family: 'Tahoma', Geneva, sans-serif;
            box-sizing: border-box;
        }
        .container {       
            padding: 20px;
            margin: 0px auto;
            background-color: #fff;
            color: #000;
            text-align: center;
            border: 1px solid black;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            /* border: 1px solid black; */
        }
        tr, td, th {
            padding: 8px;
            text-align: left;
        }
        .text-center {
            text-align: center;
        }
        .border {
            border: 1px solid black !important;
        }
        .noborder {
            border: none;
        }